html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 100%;
    font-family:sans-serif;
    vertical-align: baseline;
    text-align:center;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    margin:0;
    color:#323336;
    padding:15px;
}

.popup {
    width:250px;
}

h1 {
    font-size:15px;
}

p {
    margin-top:10px;
}

input {
    width:65%;
    border:0;
    background:#DDD;
    color:#323336;
    padding:6px;
    border-radius:3px;
    box-sizing: border-box;
    margin:0;
    -webkit-appearance: none;
    border:1px solid transparent;
}

button {
    border:0;
    padding:6px;
    border-radius:3px;
    background:#CCC;
    margin:0;
    box-sizing: border-box;
    -webkit-appearance: none;
    width:25%;
    box-shadow: 0px 0px 5px transparent;
}

button:active {
    position:relative;
    top:1px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #323336;
        color: white;
    }

    input {
        background:#555;
        color:#fff;
    }

    button {
        background:#555;
        color:#fff;
    }
}